/* Basic body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #EDE8F5;
  /* Background color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Root container */
#root {
  width: 70%;
  /* height: 70vh; */
}

/* Main application container */
.App {
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Heading styles */
h2 {
  color: #3D52A0;
  /* Primary color */
}

/* Paragraph styles */
p {
  color: #8697C4;
  /* Tertiary color */
}

/* Container for answers */
.answers-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

/* Button styles */
button {
  background-color: #7091E6;
  /* Secondary color */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #3D52A0;
  /* Primary color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #3D52A0;
  /* Primary color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

/* Score container */
.score-container {
  margin-top: 20px;
}

.score-container h2 {
  color: #3D52A0;
  /* Primary color */
}

.score-container button {
  margin-top: 10px;
}

/* Error message style */
.error-message {
  color: red;
}

/* Form container */
.form-container {
  background: #EDE8F5;
  /* Background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}

/* Select element styles */
select {
  background-color: #ADBBDA;
  /* Quaternary color */
  color: #3D52A0;
  /* Primary color */
  border: 1px solid #8697C4;
  /* Tertiary color for border */
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

select:hover {
  background-color: #7091E6;
  border-color: #3D52A0;
}

.selectform {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 150px;
  -webkit-filter: drop-shadow(30px 10px 10px #7091E6);
  filter: drop-shadow(30px 10px 10px #7091E6);

}